html {
    body {
        background: #181719;

        main {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;

            table {
                border-collapse: collapse;

                tbody {

                    tr {
                        td {
                            border: 1px solid #fff;
                            width: calc(98vw / 7);
                            max-width: 100px;
                            height: calc(95vh/6);
                            max-height: 100px;
                            position: relative;

                            @media screen and (max-width: 600px) {
                                height: calc(75vh/6);
                            }
                            @media screen and (max-width: 400px) {
                                height: calc(40vh/6);
                            }

                            .player {
                                width: 90%;
                                height: 90%;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                border-radius: 50%;

                                &.cyan {
                                    background-color: #00C9A9;
                                    border: 2px solid #05ac90;
                                }

                                &.magenta {
                                    background-color: #A87BE3;
                                    border: 2px solid #9163cc;
                                }
                            }
                        }

                    }
                }
            }
        }
    }
}